 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_auth/styles.css' %}">
</head>
<body>
    <h2>Forgot Password</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send Password Reset Email</button>
    </form>
    <a href="{% url 'login' %}">Back to Login</a>
</body>
</html>
